body {
  padding: 5px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dashboardtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

.dashboardtable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.dashboardtable tr {
	background-color:#d4e3e5;
}
.dashboardtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}